# Config files
.vscode/

# Text files
algorithm/

# Coverage files
bin/*.gcno
bin/*.gcda
bin/*.gcov

# Profiling files
gmon.out

# Scripts
compile.sh

# Headers

# Generated artifacts
assets/F_*.png
assets/F_*.jpg
F_*.jpg
F_*.png

# Objects & Binaries
bin/
build/

