# Config files
.vscode/

# Text files
algorithm/

# Scripts
compile.sh

# Headers
include/stb_image.h
include/stb_image_write.h

# Generated artifacts
assets/F_*.png

# Objects & Binaries
bin/
build/

